body{
	
}

label{
	display:inline;
} 

.container{
	background-color: #F9F7F8;
	margin-bottom:0;
	-webkit-box-shadow:0 0 12px rgba(222, 222, 222, 0.5);  
  	-moz-box-shadow:0 0 12px rgba(222, 222, 222, 0.5);   
  	box-shadow:0 0 12px rgba(222, 222, 222, 0.5); 
}

.div-tag{
	background-color: #949494;
    width: 120px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    margin-left:24%;
    margin-top:10px;
    padding-top: 10px;
    padding-bottom: 0px;
    cursor: pointer;/*******鼠标移上去改变形状********/
}

.div-tag a{
	color: white;
	font-size: 14px;
}

.first{
	margin-top:72px;
}

.div-inf-title{
	margin-bottom:14px;
	padding:6px 16px 6px 16px;
	font-size:14px;
	color:#8F4D36;
	font-weight:bold;
}

.div-inf{
	overflow:hidden;
	margin-top:24px;
	margin-left:6%;
}

.div-detail{
	margin-top:12px;
	margin-left:6%;
	float:left;
	width:360px;
	height:24px;
}


.div-inner-text{
	width:88%;
	margin:0;
}

.div-inner-text textarea{
	width:100%;
	height:96px;
}

.div-curs-detail{
	margin-left:8%;
	margin-bottom:16px;
}

.gray{
	color:#333333;
}

.div-curs-detail label{
	line-height:28px;
	/* text-indent: 2em; */
}

.div-curs-plan{
	width:80%;
	margin-left:5%;
}

.table{
	font-size:14px;
}

.table th{
	background-color:transparent;
}

.left{
	text-align:left;
}

ol li{
	height:28px;
}

.footerDiv{
	margin-top:0;
}

/* 添加课程 */
.controls input{
	height:28px;
}

#div-content h5{
	margin-left:10%;
}

@media only screen and (max-width: 1280px) {
	body{
	}
}